.CodeMirror {
    font-family: "Palatino";
    font-size: 120%;
    line-height: 150%;
    border-left: none;
    border-right: none;
    height: 100%;
}

.CodeMirror-wrap pre {
    padding-bottom: 15px;
}

.CodeMirror-vscrollbar {
    overflow: hidden;
}

.text-wrap * {
    white-space: normal!important;
}

.widget-header {
    height: 40px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.widget-content {
    height: calc(100% - 40px);
    overflow: auto;
}

.md-sidenav-left {
    overflow-y: hidden;
}

.question-mark {
    color: red;
    font-size: 130%;
}
