<script type="text/ng-template" id="partials/menu-link.tpl.html">
    <md-button ng-class="{ '{{section.icon}}' : true, 'active': isSelected() }" ng-click="selectPage(section)">
        {{section.title}}
    </md-button>
</script>

<script type="text/ng-template" id="partials/menu-toggle.tpl.html">
    <md-button class="md-button-toggle" ng-click="toggleSection()" aria-controls="docs-menu-{{section.title | nospace}}" flex layout="row" aria-expanded="{{section.is_expanded}}">
        {{section.title}}
        <span aria-hidden="true" class="pull-right fa fa-chevron-down md-toggle-icon" ng-class="{ 'toggled' : section.is_expanded }"></span>
    </md-button>
    <ul ng-show="section.is_expanded" id="docs-menu-{{section.title | nospace}}" class="menu-toggle-list">
        <li ng-repeat="page in section.pages">
            <menu-link section="page"></menu-link>
        </li>
    </ul>
</script>

<div layout="row" style="height: 100%; width: 100%">
    <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex="20">
        <md-content role="navigation">
            <ul class="side-menu">
                <li ng-repeat="section in menu.sections" class="parent-list-item" ng-class="{'parentActive' : isSectionSelected(section)}">
                    <h2 class="menu-heading" ng-if="section.type === 'heading'" id="heading_{{ section.title | nospace }}">
                        {{section}}
                    </h2>
                    <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                    <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
                </li>
            </ul>
        </md-content>
    </md-sidenav>
    <md-content flex ng-hide="showMainView">
        <ui-view name="content" layout="column" layout-fill></ui-view>
    </md-content>

    <md-content flex ng-show="showMainView" class="md-border-right" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>
                <h2>
                    <span>Project</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="TODO List" ng-click="showTodoList($event)">
                    <md-icon md-svg-src="assets/icons/ic_view_list_black_24px.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-src="assets/icons/ic_more_vert_black_24px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <textarea flex style="display: none"></textarea>
    </md-content>

    <md-sidenav ng-show="showMainView" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex="25" layout="column" style="border-left: 1px solid #ddd">
        <section flex="70" layout="column">
            <md-content flex class="md-padding">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Title</label>
                    <input ng-model="docSection.currentSection.title"/>
                </md-input-container>
                <md-input-container ng-repeat="field in comment.section_info_fields" class="md-block" flex-gt-sm>
                    <label>{{ field.match[1] }}</label>
                    <textarea row="5" ng-model="field.unescape_text" ng-change="comment.changeSectionInfo(field)"></textarea>
                </md-input-container>
            </md-content>
        </section>
        <section flex="30" layout="column">
            <md-tabs flex md-stretch-tabs="always">
                <md-tab label="undecided ({{comment.comments.missing_words.length}})">
                    <md-content>
                        <md-list flex>
                            <md-list-item class="md-2-line" ng-repeat="cmt in comment.comments.missing_words" ng-click="comment.selectComment(cmt)">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ cmt.match[3] }}</h3>
                                    <p>{{ cmt.match[2] }}<span class="question-mark">?</span>{{ cmt.match[4] }}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
                <md-tab label="need revision ({{comment.comments.need_correction_words.length}})">
                    <md-content>
                        <md-list flex>
                            <md-list-item class="md-2-line" ng-repeat="cmt in comment.comments.need_correction_words" ng-click="comment.selectComment(cmt)">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ cmt.match[3] }}</h3>
                                    <p>
                                        {{ cmt.match[2] }}<span class="question-mark">?</span>{{ cmt.match[4] }}
                                    </p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
            </md-tabs>
        </section>
    </md-sidenav>
</div>
